[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = "*"
shap = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
pylint = "*"
autopep8 = "*"
scikit-learn = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
